{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <style>
        body{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        ul li{
            padding: 3px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<!---HTML IMAGE -->
<center>
<img src="{% static 'logo.png' %}" width="300" height="150">
</center>
<h1 style="background-color:powderblue;">ABOUT ETHER INFOTECH</h1>

<p style="text-align:justify; padding: 5px; line-height: 30px; font-weight: bold;">Ether Infotech is a main IT and software training institute focused on
    giving full-set-up of preparing and arrangement administrations for freshers
    looking for another vocation and experts searching for professional success. Ether Infotech
    is aced and administered by profoundly gifted industry specialists with over 15 years of IT experience. Ether Infotech has a group of profoundly talented expert mentors conveying capable IT preparation in a friendly domain, concentrating on the people needs to empower them to exceed expectations in the difficult expert condition. Our group never leaves any page unturned in the book of profession and achievement.

</p>
<h1 style="background-color:powderblue;">COURSE</h1>
<ul >
    
    <li>
    Android Training
    </li>
    <li>
    Software Testing Training
    </li>
    <li>
    Digital Marketing Training
    </li>
    <li>
    Java Training

    </li>
    <li>
    Python Training
    </li>
    <li>
    DataScience Training

    </li>
    <li>
    C C++ Training
    </li>


</ul>
<img src="{% static 'class.jpeg' %}" width="500" height="200">
</body>
</html>