{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>

    <link rel="stylesheet" href="{% static 'diya.css' %}" />
  </head>

  <body>

    <div class="grid">
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="./img/java.webp" alt="JAVA" />
          <div class="card-content">
            <h1 class="card-header">JAVA</h1>
            <p class="card-text">
              Java Programming is evergreen in IT Industry.
               Java is more suitable for college students and job seekers.
            </p>
            <button class="card-btn"><a href="https://www.etherinfotech.com/java-training-in-coimbatore/">VISIT</a><span>&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img
            class="card-img" src="./img/php.webp"  alt="PHP"/>
          <div class="card-content">
            <h1 class="card-header">PHP</h1>
            <p class="card-text">
              Gain practical skills and develop real-world PHP 
              applications that can be used immediately in the workplace.
            </p>
            <button class="card-btn"><a href="https://www.etherinfotech.com/php-training-in-coimbatore/">VISIT</a><span>&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="./img/android.webp" alt="ANDROID" />
          <div class="card-content">
            <h1 class="card-header">ANDROID</h1>
            <p class="card-text">
              We built this curriculum with aspiring developers 
              who are new to programming and build career Android Developer.
            </p>
            <button class="card-btn"><a href="https://www.etherinfotech.com/android-training-in-coimbatore/">VISIT</a><span>&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="./img/python.webp" alt="PYTHON" />
          <div class="card-content">
            <h1 class="card-header">PYTHON</h1>
            <p class="card-text">
              Whether you are new to programming or an 
              experienced developer, it is easy to learn and use Python.
            </p>
            <button class="card-btn"><a href="https://www.etherinfotech.com/python-training-in-coimbatore/">VISIT</a><span>&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="./img/mechine learning.webp" alt="MECHINE LEARNING"/>
          <div class="card-content">
            <h1 class="card-header">MECHINE LEARNING</h1>
            <p class="card-text">
              Supervised learning generative/discriminative/parametric
              nonparametric/neural networks,and etc.
            </p>
            <button class="card-btn"><a href="https://www.etherinfotech.com/machine-learning-training-in-coimbatore/">VISIT</a><span>&rarr;</span></button>
         </div>
       </div>
     </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="./img/artificial intelligence.webp" alt="ARTIFICIAL INTELLIGENCE"/>
          <div class="card-content">
            <h1 class="card-header">ARTIFICIALINTELLIGENCE</h1>
            <p class="card-text">
              Artificial Intelligence is one of the hottest fields has
              taken the world as a major field of research and development.
            </p>
            <button class="card-btn"><a href="https://www.etherinfotech.com/artificial-intelligence-training-in-coimbatore/">VISIT</a><span>&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="./img/digital marketing.webp" alt="DEGITAL MARKETING"/>
          <div class="card-content">
            <h1 class="card-header">DIGITALMARKETING</h1>
            <p class="card-text">
              We have designed a professional digital marketing training
               program in that can make a difference in your life.
            </p>
            <button class="card-btn"><a href="https://www.etherinfotech.com/digital-marketing-training-in-coimbatore/">VISIT</a><span>&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="./img/software testing.webp" alt="SOFTWARE TESTING"/>
          <div class="card-content">
            <h1 class="card-header">SOFTWARETESTING</h1>
            <p class="card-text">
             It is one of the hot occupations and an ever-increasing
             number of people seek to take a stab at it. 
            </p>
            <button class="card-btn"><a href="https://www.etherinfotech.com/software-testing-training-in-coimbatore/">VISIT</a><span>&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="./img/ielts.jpg" alt="IELTS"/>
          <div class="card-content">
            <h1 class="card-header">IELTS</h1>
            <p class="card-text">
              The instructors hold many years of experience and 
              give individual and specialized attention to students. 
            </p>
            <button class="card-btn"><a href="https://www.etherinfotech.com/ielts-coaching-center-in-coimbatore/">VISIT</a><span>&rarr;</span></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
