{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ether</title>
    <link rel="stylesheet" href="{% static 'easy.css' %}">
    <script src="https://kit.fontawesome.com/e2c6806315.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
        <nav>
            <div class="logo"><img src="{% static 'logo.png' %}" width="300" height="80"></div>
            <div class="menu">
                <a href="">Home</a>
                <a href="/about.html/">About</a>
                <a href="/Divya.html/">Courses</a>
                <a href="/contact.html/">Contact</a>
                <a href="Nasir.html">Gallery</a>
            </div></nav>
            <h1> Emerging Job Oriented <br>programmings easy to get <br>job. </h1>

    

           <main>
            <section>
                <br><br>
                <h2>Ether Infotech is a software Training & IT consulting company located in Ram Nagar, Coimbatore. We focus in enhancing the career of every student and jobseekers who step in to our office with best project coding practices to develop web and mobile application. We also address the students who want to start their career in IT but not interested in programming language.</h2>
            </section>
           </main>
</header>
<footer>
<div class="footer">

    <div class="col-1">
        <h3>Useful Links</h3>
        <a href="/about.html/">About</a>
        <a href="/Nasir.html">Media</a>
        <a href="/Divya.html/">Technology</a>
        <a href="/contact.html/">office</a>
    </div>
    <div class="col-2">
    <h3>NEWS LETTER</h3>
    <form>
        <input type="email" placeholder="Your email address">
        <br>
        <button type="submit">Subscribe Now</button>
    </form>
    </div>
    <div class="col-3">
        <h3>Contact</h3>
        <p> 35/4, 2ndFloor, Arputham Towers, Desabandhu Street,<br> Ram Nagar, Coimbatore – 641009</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/etherinfotech/" target="_blank" ><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://twitter.com/etherinfotech" target="_blank" ><i class="fa-brands fa-square-twitter"></i></a>
            <a href="https://www.instagram.com/etherinfotech/" target="_blank" ><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/etherinfotech" target="_blank" ><i class="fa-brands fa-square-whatsapp"></i></a>

        </div>   
    </div>
</div>
<footer>
</body>
</html>
