{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>my GALLERY</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'easy.css' %}" />
    <a
      href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwioq9juhb_6AhXW-jgGHSY-CDoQFnoECAgQAQ&url=https%3A%2F%2Fwww.etherinfotech.com%2F&usg=AOvVaw2uMIWmr0pwuUbmlZjwdu5c"
    >
      <img src="{% static 'static\images\logo.png' %}" url width="200" />
    </a>
  </head>
  <body>
    <div class="row">
      <div class="column">
        <img src="1.jpeg" />
        <img src="2.jpeg" />
      </div>
      <div class="column">
        <img src="3.jpeg" />
        <img src="4.jpeg" />
      </div>
      <div class="column">
        <img src="5.jpeg" />
        <img src="6.jpeg" />
      </div>
      <div class="column">
        <img src="7.jpeg" />
        <img src="8.jpeg" />
      </div>
      <div class="column">
        <img src="20.jpeg" />
        <img src="19.jpeg" />
      </div>
      <div class="column">
        <img src="18.jpeg" />
        <img src="17.jpeg" />
      </div>
      <div class="column">
        <img src="16.jpeg" />
        <img src="15.jpeg" />
      </div>
      <div class="column">
        <img src="14.jpeg" />
        <img src="13.jpeg" />
      </div>
      <div class="column"><img src="12.jpeg" /><img src="11.jpeg" /></div>

      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>

    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">Ether infotech</h1>

        <h2>Contact</h2>

        <address>
          <i class="fas fa-map-marker-alt"></i>
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
          35/4, 2ndFloor, Arputham Towers, Desabandhu Street, Ram Nagar,
          Coimbatore – 641009

          <a class="footer__btn" href="info@etherinfotech.com">Email Us</a>
        </address>

        <a
          href="https://www.facebook.com/etherinfotech/"
          class="fa fa-facebook"
        ></a>
        <a href="https://twitter.com/etherinfotech" class="fa fa-twitter"></a>
        <a
          href="https://www.instagram.com/etherinfotech/"
          class="fa fa-instagram"
        ></a>
      </div>

      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">COURSES CATEGORYS</h2>

          <ul class="nav__ul">
            <li>
              <a
                href="https://www.etherinfotech.com/php-training-in-coimbatore/"
                >PHP</a
              >
            </li>

            <li>
              <a
                href="https://www.etherinfotech.com/java-training-in-coimbatore/"
                >Java</a
              >
            </li>

            <li>
              <a
                href="https://www.etherinfotech.com/python-training-in-coimbatore/"
                >Python</a
              >
            </li>
            <li>
              <a
                href="https://www.etherinfotech.com/software-testing-training-in-coimbatore/"
                >Softwre Testing</a
              >
            </li>
            <li>
              <a
                href="https://www.etherinfotech.com/machine-learning-training-in-coimbatore/"
                >Machine Learning</a
              >
            </li>
          </ul>
        </li>

        <li class="nav__item nav__item--extra">
          <h2 class="nav__title">About Us</h2>
          <address>
            Ether Infotech is a main IT and software training institute focused
            on giving full-set-up of preparing and arrangement administrations
            for freshers looking for another vocation and experts searching for
            professional success. Ether Infotech is aced and administered by
            profoundly gifted industry specialists with over 15 years of IT
            experience.
          </address>
        </li>

        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>

          <ul class="nav__ul">
            <li>
              <a href="https://www.etherinfotech.com/jobs/">Jobs</a>
            </li>

            <li>
              <a href="https://www.etherinfotech.com/our-blog/">Blog</a>
            </li>

            <li>
              <a href="https://www.etherinfotech.com/refund-and-privacy-policy/"
                >Refund & Privacy policy</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <div class="legal">
        <p>&copy; 2019 Something. All rights reserved.</p>

        <div class="legal__links">
          <p>
            <i
              class="fa fa-clock-o"
              style="padding-right: 10px; color: #fec404"
            ></i>
            Monday–Friday: 9am – 8pm
          </p>
          <br />
          <p>
            <i
              class="fa fa-clock-o"
              style="padding-right: 10px; color: #fec404"
            ></i>
            Saturday: 9am – 5pm
          </p>
          <br />
          <p>
            <i
              class="fa fa-clock-o"
              style="padding-right: 10px; color: #fec404"
            ></i>
            Sunday: 9am – 5pm
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
